<div class="alert alert-info alert-dismissible fade show align-content-center" role="alert">
    <strong>Hey Guys</strong> hello guys am currently working on this new web app <br> currently in need for user review on the front-end part feel free to interact with the <br>front-end if any error occurs anything u will shld be added contact me..thanks 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>