<footer class="footer-area">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
                <!-- Footer Social Info -->
                <div class="footer-social-info text-right">
                    
                    <a href="#"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
                </div>
                <!-- Footer Logo -->
                <div class="footer-logo">
                    <a href="/"><img src="recipe/img/core-img/logon.png" alt=""></a>
                  
                </div>
                <!-- Copywrite -->
                <%- include('copy'); %>
            </div>
        </div>
    </div>
</footer>